body {
    padding-top: 90px;
}

.navbar {
    min-height: 80px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
}

.footer-nav {
    background: $dark;
    color: $navbar-dark-color;
    a {
        color: $navbar-dark-color;
    }
}