deploy-mac.sh
deploy-win.cmd

# Hugo default output directory
/node_modules
/public
/resources


## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
deploy-mac-sh
.vscode/dryrun.log
.gitignore
.gitignore
deploy-mac
