{{ define "main" }}
<h1>
  {{ .Title }}
  {{ if isset .Params "description" }}
  <br /> <small class="text-muted">{{ .Description }}</small>
  {{ end }}
</h1>
{{ .Content }}
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sábado 6 de noviembre 2021</th>
      <th scope="col">Evento</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10:30</td>
      <td>Inaguración Fotographic Parets 2021 (Plaça de la Vila)</td>
    </tr>
    {{ range sort .Pages ".Params.horario_hora"}}
    <tr>
      <td>{{ .Params.horario_hora }}</td>
      <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
    </tr>
    {{ end }}

  </tbody>
</table>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Domingo 7 de noviembre 2021</th>
      <th scope="col">Evento</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10:00 - 13:00</td>
      <td><a href="/concurso">III CONCURSO NACIONAL DE FOTOGRAFIA FOTOGRAPHIC PARETS 2021</a></td>
    </tr>
  </tbody>
</table>
{{ end }}
