{{ define "main" }}
<h1>
  {{ .Title }}
  {{ if isset .Params "description" }}
  <br /> <small class="text-muted">{{ .Description }}</small>
  {{ end }}
</h1>
{{ .Content }}
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Dissabte 21 de octubre 2023</th>
      <th scope="col">Esdeveniment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10:00 a 10:30</td>
      <td>Benvinguda, presentació de l’acte i parlaments d’autoritats.</td>
    </tr>
    <tr>
      <td>10:30 a 12:00</td>
      <td><a href="/ponencias/tino-guijarro">Conferencia i treball en directe a càrrec de Tino
      Guijarro</a>
      <br />Títol: “Dansa, com fotografiar i direcció de models”.
      <br />Model: Jana Pinós
      <br />(Cal inscripció mitjançant Eventbrite)
      <br />Descripció: com preparar la sessió, preparació de models, esquemes d’il·luminació, direcció de models, aspectes estètics
      de la sessió, vestuari i complements, realització de la sessió fotogràfica.
      Efectuarem un sorteig entre els assistents, perquè cinc fotògrafs puguin fer 4-5 fotografies cada un al final de la
      sessió d’en Tino Guijarro.</td>
    </tr>
    <tr>
      <td>12:00 a 13:30</td>
      <td>
        Shooting en exteriors amb llum natural.
        <br />Models de dansa i gimnàstica: 6 models noies i nois. Estudiants de l’Institut del
        Teatre, Conservatori Professional de Dansa. (Cal Inscripció mitjançant Eventbrite)
        <br />Descripció: Disposarem de diferents escenaris naturals, als exteriors de la sala Cooperativa, i sense cap mena
        d’il·luminació artificial, on hi haurà un o dos models, amb diferents vestuaris i on els fotògrafs participants podran
        dirigir les models per fer les seves fotografies. Els fotògrafs aniran rotant per els diferents escenaris, fins que
        s’acabi el recorregut. Llavors es farà canvi de vestuari i d’escenari dels models i tornem a fer el recorregut. Els
        fotògrafs estaran dividits per grups i Cada fotògraf participant tindrà el seu torn per dirigir al/les models. Cada
        fotògraf haurà de treure el màxim de la seves habilitats com a fotògraf i director, axis com de la seva càmera amb llum
        natural.
      </td>
    </tr>
    <tr>
      <td>13:30 a 16:00</td>
      <td>dinar, (Cadascun els seus mitjans)
      </td>
    </tr>
    <tr>
      <td>16:00 a 19:00</td>
      <td>Dos escenaris.
      <br />1/Shooting de llum continua i amb models de dansa, . (Cal Inscripció mitjançant Eventbrite)
      <br />Models: 6 noies i nois de l’Institut del Teatre, secció Dansa Clàssica.
      <br />Descripció: Disposarem d’un plató amb fons i amb 4 pantalles leds de 200 watts de potencia cada un, sumant un total 800
      watts de potencia lumínica. L’idea es aprofitar aquesta il·luminació per treballar sense flaixos i treure el màxim
      rendiment de les nostres habilitats i càmeres. Amb una mica de perícia podrem congelar el moviment de les ballarines i
      ballarins, tenint també l’opció de fer fotos en amb un cert moviment. Per acompanyar als actuants, disposarem de
      faldilles de vall de 720 graus i 10 colors diferents per fer moviments i teles de diferents colors.
      Tothom podrà disparar, però la direcció de la model només la portarà el que l’hi pertoqui per torn.
      <br />2/Shooting amb flaixos i amb models de dansa, . (Cal Inscripció mitjançant Eventbrite)
      <br />Models: 6 noies i nois de l’Institut del Teatre, secció Dansa Clàssica.
      <br />Descripció: Disposarem d’un plató amb fons negre i flaixos on podrem disparar per torns de 2’5 minuts cada fotògraf. On
      podrem posar en practica la congelació del moviment amb els flaixos i la direcció de models.
      Per acompanyar als actuants, disposarem de faldilles de vall de 720 graus i 10 colors diferents per fer moviments i
      teles de diferents colors.
      <br />No serà permesa d’utilització de flaixos propis de càmera. Qui vulgui dispara fora del seu torn podrà fer-ho però ho
      haurà de fer sense flaix.
      </td>
    </tr>
    <tr>
      <td>19:00</td>
      <td>Comiat i agraïments.</td>
    </tr>
  </tbody>


</table>
{{ end }}
