$font-family-sans-serif: "IBM Plex Sans", sans-serif;
$font-family-base: $font-family-sans-serif !default;
$headings-font-weight: 400;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$primary: #3fd2c7;
$secondary: #00458b;
