$font-family-sans-serif: "Poppins", sans-serif;
$font-family-base: $font-family-sans-serif !default;
$headings-font-weight: 400;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$primary: #F294A5;
$secondary: #A0D9D3;
:root {
  --bs-font-sans-serif: "Poppins", sans-serif;
}
