<!DOCTYPE html>
{{ $lang := .Site.Language.Lang | default "ca-ES" }}
<html lang="{{ $lang }}" class="h-100">
{{- partial "head.html" . -}}

<body class="d-flex flex-column h-100">
  {{- partial "header.html" . -}}
  <main class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          {{- block "main" . }}{{- end }}
        </div>
        <div class="col-md-2 text-center text-secondary">
          <ul class="list-unstyled">
            <li class="px-2 pt-3 pb-2">Organitza</li>
            <li class="p-2">
              <a href="https://afparets.com" target="_blank">
                {{ with (resources.Get "/img/logos/logo-afparets-10anys.png").Resize "75x" | fingerprint }}
                <img src="{{ .RelPermalink }}" alt="Logo AFParets">
                {{ end }}
              </a>
            </li>


            <li class="px-2 pt-3 pb-2">Col·labora</li>
            <li class="p-2">
              <a href="https://www.parets.cat" target="_blank">
                {{ with (resources.Get "/img/logos/logo-ajuntament-parets.png").Resize "75x" | fingerprint }}
                <img src="{{ .RelPermalink }}" alt="ajuntament">
                {{ end }}

              </a>
            </li>
            <li class="p-2">
              <a href="https://www.federaciofotografia.cat" target="_blank">
                {{ with (resources.Get "/img/logos/logo-federacio.png").Resize "75x" | fingerprint }}
                <img src="{{ .RelPermalink }}" alt="federacion">
                {{ end }}
              </a>
            </li>
            <li class="p-2">
              <a href="https://circsocial.cat/entitat/tusikcirc" target="_blank">
                {{ with (resources.Get "/img/logos/tusikcirc.png").Resize "75x" | fingerprint }}
                <img src="{{ .RelPermalink }}" alt="tusikcirc">
                {{ end }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
  {{- partial "footer.html" . -}}
</body>

</html>
