<header>
  <nav class="navbar navbar-expand-md py-3 navbar-light fixed-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/img/fotographic2019-rectangular-blanco.svg" height="30" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          {{ $current := . }}
          {{ range .Site.Menus.main }}
          {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "nav" .) }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {{ .Pre }}" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">{{ .Name }}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{ range .Children }}
              <li><a class="dropdown-item {{ .Pre }}" href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
            {{ else }}
          <li class="nav-item">
            <a class="nav-link {{ .Pre }} {{ if $active }}active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
</header>
