{{ $site := .Site }}
{{ $sponsors := $site.Data.sponsors }}
{{ $hasOrganizers := and $sponsors (gt (len (default (slice) $sponsors.organizers)) 0) }}
{{ $hasPartners := and $sponsors (gt (len (default (slice) $sponsors.partners)) 0) }}
{{ if or $hasOrganizers $hasPartners }}
<section class="sponsors-section py-5 py-lg-5">
  <div class="container">
    <div class="row gy-5 justify-content-center">
      {{ if $hasOrganizers }}
      <div class="col-12 col-lg-5 text-center text-lg-start">
        <p class="sponsors-eyebrow text-uppercase mb-3">Organitza</p>
        <div class="d-flex justify-content-center justify-content-lg-start flex-wrap gap-4">
          {{ range $sponsors.organizers }}
          {{ $item := . }}
          {{ $widthDigits := "" }}
          {{ with $item.width }}
          {{ $matches := findRE "^[0-9]+" . }}
          {{ if gt (len $matches) 0 }}
          {{ $widthDigits = index $matches 0 }}
          {{ end }}
          {{ end }}
          {{ $heightValue := "" }}
          {{ $heightDigits := "" }}
          {{ with $item.height }}
          {{ $heightValue = strings.TrimSpace . }}
          {{ $matches := findRE "[0-9]+" $heightValue }}
          {{ if gt (len $matches) 0 }}
          {{ $heightDigits = index $matches 0 }}
          {{ end }}
          {{ end }}
          {{ $resizeDimension := "140x" }}
          {{ if and $widthDigits $heightDigits }}
          {{ $resizeDimension = printf "%sx%s" $widthDigits $heightDigits }}
          {{ else if $widthDigits }}
          {{ $resizeDimension = printf "%sx" $widthDigits }}
          {{ else if $heightDigits }}
          {{ $resizeDimension = printf "x%s" $heightDigits }}
          {{ end }}
          {{ $heightStyle := "" }}
          {{ if $heightValue }}
          {{ $trimmedHeight := $heightValue }}
          {{ if hasPrefix $trimmedHeight "x" }}
          {{ $numericHeight := strings.TrimSpace (strings.TrimPrefix "x" $trimmedHeight) }}
          {{ if ne $numericHeight "" }}
          {{ $heightStyle = printf "max-height:%spx" $numericHeight }}
          {{ end }}
          {{ else if hasPrefix $trimmedHeight "X" }}
          {{ $numericHeight := strings.TrimSpace (strings.TrimPrefix "X" $trimmedHeight) }}
          {{ if ne $numericHeight "" }}
          {{ $heightStyle = printf "max-height:%spx" $numericHeight }}
          {{ end }}
          {{ else if findRE "[A-Za-z]" $trimmedHeight }}
          {{ $heightStyle = printf "max-height:%s" $trimmedHeight }}
          {{ else }}
          {{ $heightStyle = printf "max-height:%spx" $trimmedHeight }}
          {{ end }}
          {{ end }}
          {{ with resources.Get (printf "/%s" $item.image) }}
          {{ $resized := .Resize $resizeDimension }}
          {{ $fingerprinted := $resized | fingerprint }}
          <a class="sponsor-link" href="{{ $item.url }}" target="_blank" rel="noopener">
            <img class="sponsor-logo" src="{{ $fingerprinted.RelPermalink }}" alt="{{ $item.name }}" {{ if $heightStyle }}style="{{ $heightStyle }}"{{ end }}>
          </a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ if $hasPartners }}
      <div class="col-12 col-lg-5 text-center text-lg-start">
        <p class="sponsors-eyebrow text-uppercase mb-3">Col·labora</p>
        <div class="d-flex justify-content-center justify-content-lg-start flex-wrap gap-4">
          {{ range $sponsors.partners }}
          {{ $item := . }}
          {{ $widthDigits := "" }}
          {{ with $item.width }}
          {{ $matches := findRE "^[0-9]+" . }}
          {{ if gt (len $matches) 0 }}
          {{ $widthDigits = index $matches 0 }}
          {{ end }}
          {{ end }}
          {{ $heightValue := "" }}
          {{ $heightDigits := "" }}
          {{ with $item.height }}
          {{ $heightValue = strings.TrimSpace . }}
          {{ $matches := findRE "[0-9]+" $heightValue }}
          {{ if gt (len $matches) 0 }}
          {{ $heightDigits = index $matches 0 }}
          {{ end }}
          {{ end }}
          {{ $resizeDimension := "140x" }}
          {{ if and $widthDigits $heightDigits }}
          {{ $resizeDimension = printf "%sx%s" $widthDigits $heightDigits }}
          {{ else if $widthDigits }}
          {{ $resizeDimension = printf "%sx" $widthDigits }}
          {{ else if $heightDigits }}
          {{ $resizeDimension = printf "x%s" $heightDigits }}
          {{ end }}
          {{ $heightStyle := "" }}
          {{ if $heightValue }}
          {{ $trimmedHeight := $heightValue }}
          {{ if hasPrefix $trimmedHeight "x" }}
          {{ $numericHeight := strings.TrimSpace (strings.TrimPrefix "x" $trimmedHeight) }}
          {{ if ne $numericHeight "" }}
          {{ $heightStyle = printf "max-height:%spx" $numericHeight }}
          {{ end }}
          {{ else if hasPrefix $trimmedHeight "X" }}
          {{ $numericHeight := strings.TrimSpace (strings.TrimPrefix "X" $trimmedHeight) }}
          {{ if ne $numericHeight "" }}
          {{ $heightStyle = printf "max-height:%spx" $numericHeight }}
          {{ end }}
          {{ else if findRE "[A-Za-z]" $trimmedHeight }}
          {{ $heightStyle = printf "max-height:%s" $trimmedHeight }}
          {{ else }}
          {{ $heightStyle = printf "max-height:%spx" $trimmedHeight }}
          {{ end }}
          {{ end }}
          {{ with resources.Get (printf "/%s" $item.image) }}
          {{ $resized := .Resize $resizeDimension }}
          {{ $fingerprinted := $resized | fingerprint }}
          <a class="sponsor-link" href="{{ $item.url }}" target="_blank" rel="noopener">
            <img class="sponsor-logo" src="{{ $fingerprinted.RelPermalink }}" alt="{{ $item.name }}" {{ if $heightStyle }}style="{{ $heightStyle }}"{{ end }}>
          </a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
