{{ define "main" }}
<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/jumbotron_1.jpg" class="d-block w-100" alt="">
        <div class="carousel-caption d-none d-md-block">
          <h5>Ponencias FOTOGraphic 2019</h5>
          <p>7, 8 i 9 DE JUNIO</p>
          <a class="btn btn-primary" href="https://www.eventbrite.es/e/entradas-fotographic2019-61801209080" role="button">Inscripción Gratuita</a>
          <p><small>La entrada a este evento es gratuita previo registro</small></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/img/jumbotron_2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>II CONCURSO NACIONAL DE FOTOGRAFIA FOTOGRAPHIC 2019</h5>
            <a class="btn btn-primary" href="https://www.eventbrite.es/e/entradas-fotographic2019-61801209080" role="button">Inscripción Gratuita</a>
            <p><small>La entrada a este evento es gratuita previo registro</small></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/img/jumbotron_3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exposiciones FOTOGraphic 2019</h5>
        </div>
      </div>
      <div class="carousel-item">
          <img src="/img/jumbotron_4.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Imágenes Solidarias</h5>
          </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
{{ end }}